In [1]:
import pandas as pd
import glob

#Path is location of NBA Game logs on my computer after downloading from repository
#Repository location : https://github.com/ryanvmenezes/lawlers-law/tree/master/data/logs

path = r'C:\Users\Danny\Documents\data\proj' # use your path
all_files = glob.glob(path+ "\*.csv")

#Header refers to the position of Column Headers
#Axis determines whether it will be merged on rows or columns
frame = pd.concat(((pd.read_csv(f, index_col=None, header=0)) for f in all_files)
                  , axis=0, ignore_index=True)

In [2]:
frame.to_csv( "nbagames1985to2019.csv", index=False, encoding='utf-8-sig')

In [3]:
frame.head(2)

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,FGM,...,DREB,REB,AST,STL,BLK,TOV,PF,PTS,PLUS_MINUS,VIDEO_AVAILABLE
0,21985,1610612737,ATL,Atlanta Hawks,28500005,1985-10-25,ATL vs. WAS,L,240,41,...,28,44,25,8,5,16,23,91,-9,0
1,21985,1610612764,WAS,Washington Bullets,28500005,1985-10-25,WAS @ ATL,W,240,40,...,29,40,21,11,7,17,19,100,9,0

In [4]:
frame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77886 entries, 0 to 77885
Data columns (total 29 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   SEASON_ID          77886 non-null  int64
 1   TEAM_ID            77886 non-null  int64
 2   TEAM_ABBREVIATION  77886 non-null  object
 3   TEAM_NAME          77886 non-null  object
 4   GAME_ID            77886 non-null  int64
 5   GAME_DATE          77886 non-null  object
 6   MATCHUP            77886 non-null  object
 7   WL                 77884 non-null  object
 8   MIN                77886 non-null  int64
 9   FGM                77886 non-null  int64
 10  FGA                77886 non-null  int64
 11  FG_PCT             77884 non-null  float64
 12  FG3M               77886 non-null  int64
 13  FG3A               77886 non-null  int64
 14  FG3_PCT            77408 non-null  float64
 15  FTM                77886 non-null  int64
 16  FTA                77886 non-null  int64
 17  FT_PCT             77884 non-null  float64
 18  OREB               77886 non-null  int64
 19  DREB               77886 non-null  int64
 20  REB                77886 non-null  int64
 21  AST                77886 non-null  int64
 22  STL                77886 non-null  int64
 23  BLK                77886 non-null  int64
 24  TOV                77886 non-null  int64
 25  PF                 77886 non-null  int64
 26  PTS                77886 non-null  int64
 27  PLUS_MINUS         77886 non-null  int64
 28  VIDEO_AVAILABLE    77886 non-null  int64
dtypes: float64(3), int64(21), object(5)
memory usage: 17.2+ MB